<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">New message to {{receiver}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="md-form">
                        <textarea formControlName="content" placeholder="Write message.." type="text" id="message-text" class="form-control md-textarea" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button [disabled]="form.invalid" type="button" data-toggle="modal" data-target="#message-modal" class="btn btn-primary" (click)="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>

<button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#message-modal">Send message</button>