<nav mat-tab-nav-bar class="site-header">

    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a mat-tab-link routerLink="/home" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
            Home
          </a>
        <a mat-tab-link routerLink="/advertisement/all" *ngIf="roles?.includes('ROLE_USER')" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
            Advertisements
          </a>
        <a mat-tab-link routerLink="/user/profile" *ngIf="roles?.includes('ROLE_USER')" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
            Profile
          </a>
        <a mat-tab-link routerLink="/user/admin" *ngIf="roles?.includes('ROLE_ADMIN')" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
            Admin
          </a>
        <a mat-tab-link *ngIf="roles?.includes('ROLE_USER')" (click)="logout()" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
            Logout
          </a>
        <a mat-tab-link routerLink="auth/signin" *ngIf="!roles" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
           Login
          </a>
    </div>

</nav>