*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4;
    color: #333;
    background: #fff;
}

.container {
    max-width: 75rem;
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}

.header {
    padding: 1rem 0;
    background: #212121;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 1px -5px rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.header .navbar .wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
}

.header .navbar .wrapper .logo {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.header .navbar .wrapper .menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: flex-end;
    align-items: center;
}

.header .navbar .wrapper .menu-link {
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
}

.header .navbar .wrapper .menu-link:hover {
    background: #f4f4f4;
    color: #333;
}

.header .navbar .toggle {
    position: absolute;
    z-index: 999;
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    right: 20px;
    top: 14px;
    width: 40px;
    height: 40px;
    transition: all 0.5s ease-out;
}

.header .navbar .toggle .span {
    height: 7px;
    background: #777;
    margin: 5px auto;
    border-radius: 2px;
    backface-visibility: hidden;
}

.header .navbar .toggle.on .span-one {
    transform: rotate(45deg) translateX(6px) translateY(6px);
}

.header .navbar .toggle.on .span-two {
    opacity: 0;
}

.header .navbar .toggle.on .span-three {
    transform: rotate(-45deg) translateX(10px) translateY(-12px);
}

.header .mobile {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 10%;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    background: #f4f4f4;
    transition: all 0.3s ease-out;
}

.header .mobile .menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 4rem;
}

.header .mobile .menu-item {
    padding: 1rem 0;
}

.header .mobile .menu-link {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

.header .mobile .menu-link:hover {
    color: #777;
    transition: all 0.3s ease-out;
}

.header .mobile.active {
    visibility: visible;
    opacity: 0.99;
}

@media only screen and (min-width: 701px) {
    .header .mobile {
        visibility: hidden !important;
    }
}

@media only screen and (max-width: 700px) {
    .header .navbar .wrapper .menu {
        display: none;
    }
    .header .navbar .toggle {
        visibility: visible;
        opacity: 1;
    }
}