<div class="container">

    <app-category-list (emitter)="changeCategory($event)"></app-category-list>

    <div class="row mt-3">

        <div class="col-2">

            <label id="radio-group">Sort by:</label>
            <mat-radio-group color="primary" aria-labelledby="radio-group" class="example-radio-group" [(ngModel)]="selectedSortCriteria" (change)="sort()">
                <mat-radio-button class="example-radio-button" *ngFor="let criteria of sortCriterias" [value]="criteria">
                    {{criteria |titlecase}}
                </mat-radio-button>
            </mat-radio-group>

            <mat-checkbox class="example-margin" (change)="order()" [(ngModel)]="descending">Descending order</mat-checkbox>

        </div>

        <div class="col-1">
        </div>

        <div class="col-6 mt-3">
            <form class="example">
                <input type="text" placeholder="Search {{currentCategory | lowercase}} by tittle containing" [(ngModel)]="searchText" name="search">
                <button type="submit" (click)="search()"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="col-1">
        </div>

        <div class="col-2">
            <label id="radio-group">Condition:</label>
            <mat-radio-group color="primary" aria-labelledby="radio-group" class="example-radio-group" [(ngModel)]="selectedCondition" (change)="search()">
                <mat-radio-button class="example-radio-button" *ngFor="let condition of (conditions$ | async)" [value]="condition">
                    {{condition |titlecase}}
                </mat-radio-button>

                <mat-radio-button class="example-radio-button" value="All">
                    All
                </mat-radio-button>

            </mat-radio-group>
        </div>

    </div>

    <div *ngIf="isCompletedProfile;else notCompletedProfile" class="row offset-5">
        <app-advertisement-modal-create></app-advertisement-modal-create>
    </div>

    <ng-template #notCompletedProfile>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a mat-flat-button color="warn" routerLink="/user/profile">Complete your profile to create advertisements</a>
            </div>
            <div class="col-md-4"></div>
        </div>

    </ng-template>

    <div class="row">
        <app-advertisement-modal-delete [advertisementId]="advertisementToModifyId"></app-advertisement-modal-delete>
        <app-advertisement-modal-edit [id]="advertisementToModifyId"></app-advertisement-modal-edit>
    </div>

    <app-price-range (valuesEmmiter)="changePriceRange($event)"></app-price-range>

    <div class="row mt-3 d-flex justify-content-center">
        <h1>{{config.totalItems}}</h1>
    </div>
</div>

<div class="row mt-3 d-flex justify-content-center" id="advertisements">

    <app-advertisement-info *ngFor="let advertisement of advertisements$ | async | paginate : config " [advertisement]="advertisement" (emitId)="changeAdvertisementToModifyId($event)">
    </app-advertisement-info>

    <div class="col-mt-4" *ngIf="(advertisements$ | async)?.length === 0">
        <img src="{{noResultsImgUrl}}" width="auto" alt="No Results">
    </div>
</div>

<div class="row d-flex justify-content-center mt-5">
    <pagination-controls id="{{config.id}}" (pageChange)="changePage($event)"></pagination-controls>
</div>