<div class="wrapper">

    <div class="top-container">
        <div class="top" style="background-image: url({{advertisement.imageUrl}});"></div>
        <div class="bottom" [ngClass]="liked ? 'clicked' : ''">
            <div class="left">
                <div class="details">
                    <h1>{{advertisement.title}}</h1>
                    <p>{{advertisement.price | currency}}</p>
                </div>
                <div class="buy" (click)="toogleFavorite()"><i class="material-icons">favorite_border</i></div>
            </div>
            <div class="right">
                <div class="done"><i class="material-icons">done</i></div>
                <div class="details">
                    <h1>{{advertisement.title}}</h1>
                    <p>Liked</p>
                </div>
                <div class="remove" (click)="toogleFavorite()"><i class="material-icons">clear</i></div>
            </div>
        </div>
    </div>

    <div class="inside">
        <div class="icon"><i class="material-icons">info_outline</i></div>
        <div class="contents">
            <table>
                <tr>
                    <th>Width</th>
                    <th>Height</th>
                </tr>
                <tr>
                    <td>3000mm</td>
                    <td>4000mm</td>
                </tr>
                <tr>
                    <th>Something</th>
                    <th>Something</th>
                </tr>
                <tr>
                    <td>200mm</td>
                    <td>200mm</td>
                </tr>
                <tr>
                    <th>Something</th>
                    <th>Something</th>
                </tr>
                <tr>
                    <td>200mm</td>
                    <td>200mm</td>
                </tr>
                <tr>
                    <th>Something</th>
                    <th>Something</th>
                </tr>
                <tr>
                    <td>200mm</td>
                    <td>200mm</td>
                </tr>
            </table>
        </div>
    </div>
</div>