<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel (click)="loadTowns(region.name)" *ngFor="let region of regions">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>{{region.name}}</h2>
            </mat-panel-title>
            <mat-panel-description>
                Advertisements: ({{region.totalAds}})
            </mat-panel-description>
            <mat-panel-description>
                Users: ({{region.totalUsers}})
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let town of region.towns">
                {{town.name}} ({{town.advertisementsCount}})
            </mat-list-option>
        </mat-selection-list>
    </mat-expansion-panel>
</mat-accordion>