<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let region of regions$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2> {{region.name}}</h2>
            </mat-panel-title>
            <mat-panel-description>
                {{region.totalAds}}
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>